/* font */
@font-face {
	font-family: Fira;
  	src: url("../fonts/FiraCode.ttf");
}

h1 {
	font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fira';
	font-weight: 600;
}

a,i {
	font-family: 'Fira';
	color: #424141;
	line-height: 1.75em;
}

p, li{
	font-family: 'Fira';
	color: #333b47;
	line-height: 1.75em;
}

a:hover {
	text-decoration: none !important;
	color: #030303 !important;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.section .container {
	margin: auto;
	max-width: 720px;
	padding: 0 20px;
}

@media only screen and (max-width: 767px) {
	.intro img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	footer {
		text-align: center;
	}
}

.section.second {
	margin-bottom: 90px;
}

.section .container {
	position: relative;
}

.section .container h1 {
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
}


/* background */
#web_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
	/* background-image: url(../img/bg.gif); */
    background-image: url(../img/bg.jpg);
}

/* introduce */
.intro {
	padding: 95px 0px 70px 0px;
	overflow-x: hidden;
}
.intro img {
	width: 81px;
	height: 81px;
	border-radius: 99px;
}
.intro .wrap {
	margin: 30px 0px;
}


/* edu */
.work .work-list {
	margin-left: 0px;
}
/* time and detial */
.work .work-list li {
	list-style: none;
	font-size: 1.0em;
	color: #333b47;
}
/* name*/
.work .work-list li a {
	padding-bottom: 3px;
	font-size: 1.1875em;
	text-decoration: none;
	border-bottom: 3px solid #383838;
}

/* awards */
.award .award-list {
	margin-left: 0px;
}

.award .award-list .time{
  	font-size: 0.9em;
}

.award .award-list li{
  	list-style: none;
	font-size: 1.0em;
	color: #333b47;
}

/* blogs */
.blogs .blog-tit a{
	
	font-size: 1em;
	text-decoration: none;
	border-bottom: 3px solid #383838;
}

/* project */
.proj .proj-list {
	margin-left: 0px;
}

.proj .proj-list li{
	list-style: none;
	font-size: 1.1em;
	color: #242323;
}

/* contact */
.cont .cont-list {
	margin-left: 0px;
}

.cont .cont-list p{
	list-style: none;
	font-size: 1.1em;
	color: #333b47;
}

.cont .cont-list li{
	list-style: none;
	font-size: 0.9em;
	color: #333b47;
}

.cont .cont-list li a{
	text-decoration: none;
	border-bottom: 3px solid #383838;
}