/* 自定义字体 */
@font-face {
	font-family: Pix;
  src: url("../fonts/Pix\ Body.TTF");
}

h1 {
	font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Pix';
	color: #333333;
	font-weight: 600;
}

a, p, li ,i {
	font-family: 'Pix';
	color: #303030;
	line-height: 1.75em;
}

a:hover {
	text-decoration: none !important;
	color: #333333 !important;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.section .container {
	margin: auto;
	max-width: 720px;
	padding: 0 20px;
}

@media only screen and (max-width: 767px) {
	.intro img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	footer {
		text-align: center;
	}
}

.section.second {
	margin-bottom: 90px;
}

.section .container {
	position: relative;
}

.section .container:after {
	position: absolute;
	content: url(../img/separator.png);
	left: 20px;
}

.section .container h1 {
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
}


/* ========全屏背景图片========== */
#web_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    background-image: url(../img/bg.gif);
}


/* ======开头的自我介绍======= */
.intro {
	padding: 95px 0px 70px 0px;
	overflow-x: hidden;
}
/* 头像 */
.intro img {
	width: 81px;
	height: 81px;
	border-radius: 99px;
}
.intro .wrap {
	margin: 30px 0px;
}


/* =========教育经历========== */
.work .work-list {
	margin-left: 0px;
}
/* 时间线和介绍 */
.work .work-list li {
	list-style: none;
	font-size: 1.1em;
	color: #3b3b3b;
}
/* 校名 */
.work .work-list li a {
	padding-bottom: 5px;
	font-size: 1.1875em;
	font-weight: 700;
	text-decoration: none;
	border-bottom: 1px solid #b3b3b3;
}
/* 链接悬浮效果 */
.work .work-list li a:hover {
	border-bottom: 1px solid #333333;
}

/* =========成就与奖项============ */
.award .award-list {
	margin-left: 0px;
}
.award .award-list li{
  list-style: none;
	font-size: 1.1em;
	color: #424242;
}


/* ======课程 项目 联系方式======== */
.skills .skill-list {
	margin-left: 0px;
}

.skills .skill-list li{
  list-style: none;
	font-size: 1.1em;
	color: #000000;
}